.searchResults {
  width: 80%;
  margin: auto;
  // height: 100vh;

  &__container {
    text-align: center;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin: 20px 0;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: var(--color-text-2);
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
    gap: 30px;

    li {
      display: flex;
    }
  }

  .end {
    height: 2px;
    width: 100%;
    padding: 20px;
  }
}
