.searchResults {
  min-height: 100vh;
  background: linear-gradient(to bottom, #fdf4ffaf, #fdf4ffaf),
    url("../../assets/noisy-texture.webp");
  &__container {
    text-align: center;
    margin: auto;
    margin-top: 10rem;
    width: 80%;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 500;
    margin: 2rem 0;
    text-transform: uppercase;
    color: var(--color-text-2);
  }

  &__list {
    list-style: none;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    align-items: baseline;

    gap: 3rem;
    row-gap: 5rem;
    margin-top: 5rem;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 80%;
      button {
        padding: 0;
      }
    }
  }

  .end {
    height: 2px;
    width: 100%;
    padding: 2rem;
  }
}
