.searchResults {
  width: 80%;
  margin: auto;
  // height: 100vh;

  &__container {
    text-align: center;
    margin-top: 10rem;
  }

  &__title {
    font-size: 3.2rem;
    font-weight: 500;
    margin: 2rem 0;
    text-transform: uppercase;
    color: var(--color-text-2);
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    // grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    align-items: baseline;
    gap: 2rem;
    row-gap: 4rem;
    margin-top: 5rem;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      // min-width: 250px;
      button {
        padding: 0;
      }
    }
  }

  .end {
    height: 2px;
    width: 100%;
    padding: 2rem;
  }
}
