.form {
  width: 60rem;
  margin: auto;
  margin-top: 15vh;
  background-color: #fff;
  padding: 10rem;
  padding-top: 5rem;
  box-shadow: 0 1px 2rem rgba(#f5d0fe, 0.5);
  border-radius: 1rem;

  @media screen and (max-width: 650px) {
    width: 90%;
    padding: 5rem;
  }
  @media screen and (max-width: 450px) {
    width: 90%;
    padding: 5rem 1rem;
  }

  &__heading {
    font-size: 3.8rem;
    font-family: var(--font-heading);
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(
      to bottom,
      var(--color-3),
      var(--color-3),
      var(--color-text-1)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  form {
    padding: 2rem;
  }
  input {
    margin-bottom: 2rem;
    border-color: var(--color-3);
    border-width: 0.2rem;
    font-family: var(--font-body);
    color: var(--color-text-1);
    min-height: 5.5rem !important;
    height: 5.5rem !important;
    font-size: 1.5rem;
    color: var(--color-text-1);
    font-family: var(--font-body);

    &:focus {
      border-color: var(--color-2);
      box-shadow: 0 0 0 0.2rem rgba(#f5d0fe, 1);
    }

    &:focus-visible {
      box-shadow: none !important;
    }
  }
  label {
    color: var(--color-text-1) !important;
    opacity: 0.9;
    font-family: var(--font-body);
  }
  button {
    margin-top: 5rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
  }

  &__switch {
    color: var(--color-text-1);
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.4rem;
    @media screen and (max-width: 450px) {
      flex-direction: column;
      gap: 0px;
    }
    button {
      margin: 0;
      left: 0%;
      transform: translateX(0%);
      border: none;
      background-color: transparent;
      font-family: inherit;
      font-weight: 500;
      border-bottom: 2px solid var(--color-3);
      color: inherit;
    }
  }

  &__error {
    color: var(--color-error);
    text-align: center;
  }

  &__loading {
    text-align: center;
  }
}
