.searchResults {
  width: 90%;
  margin: auto;
  height: 100vh;

  &__container {
    text-align: center;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin: 20px 0;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: var(--color-text-2);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    width: 100%;

    li {
      flex-basis: 20%;
    }
  }

  .end {
    height: 2px;
    width: 100%;
    padding: 20px;
  }
}
