.genre {
  padding: 0rem 5rem;
  width: 100%;
  background-color: var(--color-background);

  @media screen and (max-width: 65rem) {
    padding: 0rem 2rem 0rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    overflow-wrap: normal;

    @media screen and (max-width: 55rem) {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    button {
      width: fit-content;
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-wrap: nowrap;
      text-transform: capitalize;
      // align-self: flex-end;
    }

    img {
      height: 2rem;
    }
  }

  .error {
    color: var(--color-error);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(50%);
    // opacity: 0;
  }
  30% {
    transform: translateY(50%);
    // opacity: 0;
  }
  100% {
    transform: translateY(0%);
    // opacity: 1;
  }
}
