.heroSection {
  text-align: center;
  padding: calc(var(--nav-height) + 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right top,
    var(--color-accent-3),
    var(--color-background)
  );

  @media screen and (max-width: 75rem) {
    padding: 0 5rem;
  }
  @media screen and (max-width: 40rem) {
    padding: 0 2rem;
  }

  &__search {
    width: 60%;

    @media screen and (max-width: 95rem) {
      width: 80%;
    }
    @media screen and (max-width: 50rem) {
      width: 100%;
    }
    input {
      border-color: var(--color-accent);
      padding: 1rem;
      font-size: 1.6rem;
      font-family: var(--font-body);
      color: var(--color-text-2);
      &:focus {
        box-shadow: 1px 0px 5px 2px var(--color-accent-2);
        color: inherit;
      }

      &::placeholder {
        font-size: 1.4rem;
        text-transform: capitalize;
        color: var(--color-text-2);
        opacity: 0.8;
        font-family: inherit;
      }
    }

    button {
      width: 15rem;
      @media screen and (max-width: 95rem) {
        width: 10rem;
      }
    }
  }
}
