:root {
  --font-heading: "Cinzel", serif;
  --font-body: "Source Serif 4", serif;
}

body {
  background-color: #fdf4ff;
  /* background-color: #f5d0fe; */
}

h1 {
  font-family: var(--font-heading);
}

p {
  font-family: var(--font-body);
}
