.button {
  width: 22rem;
  border: none;
  font-weight: 500;
  background-color: var(--color-accent);
  color: var(--color-background);

  padding: 1rem 2rem;
  font-size: 1.6rem;
  flex-direction: row;

  &:hover {
    box-shadow: 0 1px 1rem rgba(240, 171, 252, 0.5);
  }

  &:focus {
    border-color: var(--color-accent);
    outline: red;
  }

  &:focus-visible {
    box-shadow: none;
    border: 2px solid var(--color-accent);
    box-shadow: 1px -1px 5px 2px var(--color-accent-2);
  }
}
