.modal {
  // padding: 40px 50px;
  text-align: center;
  padding: 30px;

  button {
    margin-top: 30px;
    width: fit-content;
    padding: 5px;
  }

  &__heading {
    font-size: 24px;
    font-family: var(--font-heading);
    font-weight: 600;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
    text-align: start;
    color: var(--color-text-2);
  }

  .error {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-error);
  }
}

.search {
  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0px 30px;
    gap: 20px;

    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-3);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--color-2);
      opacity: 0.8;
    }

    // a {
    //   flex-grow: 1;
    //   flex-basis: 10%;
    //   max-width: 50%;
    // }
  }
}
