.book__image {
  max-width: 18rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-2);
  background: linear-gradient(to bottom, #f0abfca8, #f5d0fece),
    url("../../assets/noisy-texture.webp");
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}
